{% extends "base.html" %}

{% block nav %}
<li {% block active_movies %}{% endblock %}><a href="/backend/movies">Movies</a></li>
<li {% block active_rooms %}{% endblock %}><a href="/backend/rooms">Rooms</a></li>
<li {% block active_showings %}{% endblock %}><a href="/backend/showings">Showings</a></li>
<li {% block active_customers %}{% endblock %}><a href="/backend/customers">Customers</a></li>
<li {% block active_attend %}{% endblock %}><a href="/backend/attend">Attend</a></li>
{% endblock %}

{% block hero_message %}
Welcome to the backend control panel!
{% endblock %}
