{% extends "base.html" %}

{% block main %}
<div class="columns">
	<div class="column is-4 is-offset-4">
		
		<form class="box" action="/login" method="post">
			<label class="label">Customer Email:</label>
			<input class="input" type="text" name="username" value={{ username }}>
			<input class="button" type="submit" value="Submit">
			<span class="help is-danger">{{ error }}</span>
		</form>
		
		<form class="box" action="/login_backend" method="post">
			<input class="button" type="submit" value="Staff Log In">
		</form>
		
	</div>
</div>


{% endblock %}
